* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ToBoolist*/
h1 {
    display: inline;
    font-style: Helvetica;
}

/*Contenuto Principale*/
.maincontainer {

}

/*Bottoni*/
.buttons {
    border-top: 10px black;
}

/*Lista*/
ul {
    list-style-type: none;
}

/*Scritte in grassetto della lista*/
.titlelist {
    font-weight: bolder;
}

/*Scritte normali della lista*/
.contentlist {
    

}

/*Pezzetti colorati nella lista*/
.colorlist {
    background-color: red;
    border-radius: 30%;
}