/*CSS RESET*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ToBoolist*/
h1 {
    display: inline;
    vertical-align: middle;
    line-height: 0.5em;
    text-align: center;
}

/*Contenuto Principale*/
.maincontainer {
    margin: auto;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin-top: 50px;
    border-radius: 3%;
    padding: 15px;
}

/*Bottoni*/
.buttons {
    border-bottom: 1px solid;
    border-bottom-color: grey;
    padding: 15px;
    margin-bottom: 50px;
    
}

/*Bottone 1*/
#but1 {
    background-color: rgb(18, 132, 203);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 20%;
    padding: 5px;
}

/*Bottone 2*/
#but2 {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 20%;
    padding: 5px;
}

/*Lista*/
ul {
    list-style-type: none;
}

/*Scritte normali della lista*/
.contentlist {
    margin-top: 10px;
}

/*Scritte in grassetto della lista*/
.titlelist {
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Croci*/
.cross {
    color:red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: red;
    border-style: solid;
    text-align: center;
}

/*Spunte*/
.check {
    color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: green;
    border-style: solid;
    text-align: center;
}

/*Colore 1*/
.colorlist1 {
    background-color: lightskyblue;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color:white;
}

/*Colore 2*/
.colorlist2 {
    background-color: purple;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color:white;
}

/*Colore 3*/
.colorlist3 {
    background-color: lightseagreen;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color: white;
}

/*Colore 4*/
.colorlist4 {
    background-color: orange;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color: white;
}

/*Colore 5*/
.colorlist5 {
    background-color: pink;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color: white;
}

/*Colore 6*/
.colorlist6 {
    background-color: lightgreen;
    border-radius: 30%;
    font-size: small;
    text-align: center;
    margin-left: 10px;
    color: white;
}



