/*ToBoolist*/
h1 {
    display: inline;
}

/*Lista*/
ul {
    list-style-type: none
}

/*Scritte in grassetto della lista*/
.titlelist {
    font-weight: bolder;
}

/*Scritte normali della lista*/
.contentlist {

}

/*Pezzetti colorati nella lista*/
.colorlist {

}